body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #282828;
}


.logo{
    font-size: 18px;
    font-weight: 700;
    color: whitesmoke;
    
}

h1{
    font-weight: 400;
    font-size: 40px;
    padding: 30px 25px;
    margin: 0; 
}

ul{
    background-color: #282828;
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding: 30px 25px;
    margin: 0;
    align-items: center;

}

.icon{
    width: 25px;
}

.align-right{
    margin-left: auto;
}

.item{
    position: relative;
}

.img-banner{
    color: whitesmoke;
    background-color: #cd6858;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.caption{
    font-size: 20px;
    display: flex;
    gap: 20px;
    padding: 25px 30px;
    justify-content: space-between;
}

button{
    border: none;
    color: whitesmoke;
    background-color:#cd6858;
    padding: 10px 15px;
    align-self: center;
    font-weight: 700;
}

.item-img{
    width: 100%;
    display: block;
}

.chatbox-bg{
    background: #dda15e;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

.chatbox-img{
    width: 50%;
    margin: auto;
}


